{%extends 'manager/layout.html'%}
{%block body%}

    <!-- Main Content -->
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <!-- Dashboard Content -->
    <!-- Add your content here, including charts, data tables, and other widgets -->
    <h5>Material Inventory</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Quantity (units)</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
                <tr>
                    <td>{{ material.name }}</td>
                    <td>{{ material.quantity }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No materials available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{%endblock%}
        